<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="RHGROUP"
			 connectionString="Data Source=DESKTOP-E8N9KL5\SQLEXPRESS;Initial Catalog=RHGROUP;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="CurrentAreaID" value="1"/>
	</appSettings>


</configuration>
