<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!-- Kết nối đến SQL Server instance ASUS trên máy LAPTOP-SECAVM1B -->
		<add name="ConnStr"
			 connectionString="Data Source=.;Initial Catalog=KhachSan;Integrated Security=True;Connect Timeout=30;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="smtpHost" value="smtp.gmail.com" />
		<add key="smtpPort" value="587" />
		<add key="smtpUser" value="rhroupcantho@gmail.com" />
		
		<add key="smtpPass" value="pdzq ubom lchh baoo" />
		<add key="smtpFrom" value="rhroupcantho@gmail.com" />
		<add key="smtpEnableSsl" value="true" />
		
	</appSettings>

</configuration>
