<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConnStr"
			 connectionString="Data Source=LAPTOP-5ECAVM1B;;Initial Catalog=QuanLyChuoiNhaHangKhachSan;Integrated Security=True"
             

			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Cấu hình SMTP để gửi email thông báo tài khoản -->
		<!-- Lưu ý: Với Gmail, bạn cần tạo App Password tại: https://myaccount.google.com/apppasswords -->
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpUser" value="rhroupcantho@gmail.com"/>
		<add key="SmtpPassword" value="tgxo bidk nogf lzsy"/>
		<add key="SmtpEnableSsl" value="true"/>
		<add key="SmtpFromEmail" value="rhroupcantho@gmail.com"/>
		<add key="SmtpFromName" value="Hệ thống Quản lý Nhà hàng Khách sạn"/>
		<add key="CurrentAreaID" value="1"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	
</configuration>
